* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.image {
    position: relative;
}

.image h1 {
    position: absolute;
    top: 50%;
    left: 18%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
}

.container {
    padding-top: 100px;
    padding-bottom: 80px;
}


.box {
    border-radius: 14px;
    background-color: #fff;
    box-shadow: 0 0 0 1px #E2E9ED;
    padding: 60px 10px;
    position: relative;
    z-index: 0;
    transition: 0.2s all;
    margin-bottom: 25px;
}

.box:hover {
    z-index: 1;
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.box .box_content {
    margin: 10px 0;
}

.box .box_content .title {
    color: #313435;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.4rem;
    margin: 0;
    padding-top: 10px;
}

.image h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4rem;
    padding-top: 10px;
    padding-left: 0px;
}

.box .box_content .post {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 2.375rem;
    color: #6F808A
}

.box .icons p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1rem;
    color: #6F808A
}

.box .icons {
    margin: 0;
    padding: 0;
    list-style-type: none;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.2s all;
}

.box:hover .icons {
    opacity: 1;
    transform: translateY(0px);
}

.container {
    margin-bottom: 10px;
}

.navbar {
    font-family: 'Roboto', sans-serif;
    color: red;
}

/* Additional CSS for navbar font */
.navbar .navbar-brand,
.navbar .navbar-nav .nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* Targeting the "Home" link in the navbar */
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.active:hover,
.navbar .navbar-nav .nav-link.active:focus {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


.w-1\/12 {
    width: 8.333333%;
}

.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}


@media (min-width: 768px) {
    .md\\:flex-row {
        flex-direction: row;
    }
}

.items-center {
    align-items: center;
}

.font-medium {
    font-weight: 500;
}

.mr-4 {
    margin-right: 1rem;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

ol,
ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0;
}


.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.float-right {
    float: right;
}

.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
}

.titleNav {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
}

.font-bold {
    font-weight: 700;
}

.mr-5 {
    margin-right: 1.25rem;
}

.container {
    width: 100%;
}

.nav {
    margin-bottom: 0%;
}

.mx-10 {
    margin-left: 5.125rem;
    margin-right: 5.125rem;
}

.justify-between {
    justify-content: space-between;
}

.hover\\:text-gray-900:hover {
    color: #1a202c;
}

.link {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
    text-decoration: none;
}

.link:hover {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
}