<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lab Management</title>
  <!-- Include Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <style>
    /* Add your custom CSS styles here */
    body {
      background-color: #f3f4f6;
      /* Light grey background */
    }

    /* Style for the navbar */
    .navbar {
      background-color: #4a5568;
      /* Dark grey navbar */
    }

    /* Style for the form */
    .form-container {
      background-color: #fff;
      /* White background for the form */
    }
  </style>
</head>

<body>
  <!-- Navbar -->
  <nav class="text-gray-600 body-font shadow-lg bg-white">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <div class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <img src="images/logo.png" alt="logo" class="w-1/12 mr-4">
        <h1 class="text-2xl font-bold">Lab Management</h1>
      </div>

      <ul class="md:ml-auto flex flex-wrap text-base float-right">
        <li><a href="profile" class="mr-5 hover:text-gray-900">Profile</a></li>
      </ul>
    </div>
  </nav>

  {% if role == 'student' %}
  <!-- Lab/Equipment Selection -->
  <div class="container mx-auto p-8">
    <div class="text-center mb-8">
      <h1 class="text-3xl">Select Action</h1>
    </div>

    <!-- Action Selection -->
    <div class="flex justify-around">
      <div class="">
        <button id="bookLabBtn"
          class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-8 rounded-full transition-colors duration-300 ease-in-out">Book
          Lab</button>
      </div>
      <div>
        <button id="issueEquipmentBtn"
          class="ml-6 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-8 rounded-full transition-colors duration-300 ease-in-out">Issue
          Equipment</button>
      </div>
      <div>
        <button id="courseEnrollmentBtn"
          class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-8 rounded-full transition-colors duration-300 ease-in-out">Take
          Course </button>
      </div>
    </div>

    <!-- Lab Booking Form -->
    <form id="labBookingForm" method="post" action="/submit"
      class="form-container shadow-md rounded px-8 pt-6 pb-8 mt-8 hidden">
      <!-- <div class="mb-4">
        <label for="name" class="block text-gray-700 font-bold mb-2">Name:</label>
        <input type="text" name="name" id="name" class="form-input mt-1 block w-full border-gray-400">
      </div> -->
      <div class="mb-4">
        <label for="lab_name" class="block text-gray-700 font-bold mb-2">Lab:</label>
        <select name="lab_name" id="lab" class="form-select mt-1 block w-full border-gray-400">
          <option value="Biology Lab"> Biology Lab</option>
          <option value="Chemistry Lab">Chemistry Lab</option>
          <option value="Physics Lab ">Physics Lab</option>
          <option value="Computer Lab">Computer Lab</option>
          <option value="Engineering Lab">Engineering Lab</option>
          <option value="Psychology  Lab">Psychology Lab</option>
          <option value="Geology Lab">Geology Lab</option>
          <option value="Botany Lab">Botany Lab</option>
          <option value="Zoology Lab">Zoology Lab</option>
          <option value="Microbiology Lab">Microbiology Lab</option>
          <option value="Anatomy Lab">Anatomy Lab</option>
          <option value="Ecology Lab">Ecology Lab</option>
          <option value="Neuroscience Lab">Neuroscience Lab</option>
          <option value="Genetics Lab">Genetics Lab</option>
          <option value="Biochemistry Lab">Biochemistry Lab</option>
        </select>
      </div>
      <div class="mb-4">
        <label for="time_slot" class="block text-gray-700 font-bold mb-2">Time Slot:</label>
        <select name="time_slot" id="time_slot" class="form-select mt-1 block w-full border-gray-400">
          <option value="Slot 1">8:30-10:00</option>
          <option value="Slot 2">10:00-11:30</option>
          <option value="Slot 3">11:30-13:00</option>
          <option value="Slot 4">13:00-14:00</option>
          <option value="Slot 5">14:00-15:30</option>
          <option value="Slot 6">15:30-17:00</option>
          <option value="Slot 7">17:00-18:30</option>
          <option value="Slot 8">18:30-20:00</option>
          <option value="Slot 9">20:00-21:30</option>
          <option value="Slot 10">21:30-23:00</option>
        </select>
      </div>
      <div class="mb-4">
        <label for="date" class="block text-gray-700 font-bold mb-2">Date:</label>
        <input type="date" name="date" id="date" class="form-input mt-1 block w-full border-gray-400">
      </div>
      <!-- ... -->
      <div class="text-center">
        <button type="submit"
          class="border border-green-700 bg-green-700 hover:border-green-600 hover:bg-green-600 text-white font-bold py-2 px-8 rounded-full transition-colors duration-300 ease-in-out">Book
          Lab</button>
      </div>
    </form>

    <!-- Equipment Issue Form -->
    <form id="equipmentIssueForm" method="post" action="/submit"
      class="form-container shadow-md rounded px-8 pt-6 pb-8 mt-8 hidden">
      <!-- <div class="mb-4">
        <label for="email" class="block text-gray-700 font-bold mb-2">Email:</label>
        <input type="email" name="email" id="email" class="form-input mt-1 block w-full border-gray-400">
      </div>
      <div class="mb-4">
        <label for="name" class="block text-gray-700 font-bold mb-2">Name:</label>
        <input type="text" name="name" id="name" class="form-input mt-1 block w-full border-gray-400">
      </div> -->
      <!-- <div class="mb-4">
        <label for="equipmentType" class="block text-gray-700 font-bold mb-2">Equipment Type:</label>
        <select name="equipmentType" id="equipmentType" class="form-select mt-1 block w-full border-gray-400">
          <option value="laptop">Laptop</option>
          <option value="projector">Projector</option>
          <option value="microscope">Microscope</option>
        </select>
      </div> -->
      <div class="mb-4">
        <label for="equipmentID" class="block text-gray-700 font-bold mb-2">Equipment ID:</label>
        <input type="text" name="equipmentID" id="equipmentID" class="form-input mt-1 block w-full border-gray-400">
    </div>
      <!-- <div class="mb-4">
        <label for="numberOfEquipment" class="block text-gray-700 font-bold mb-2">Number of Equipment:</label>
        <input type="number" name="numberOfEquipment" id="numberOfEquipment"
          class="form-input mt-1 block w-full border-gray-400">
      </div> -->
      <div class="mb-4">
        <label for="issueDate" class="block text-gray-700 font-bold mb-2">Issue Date:</label>
        <input type="date" name="issueDate" id="issueDate" class="form-input mt-1 block w-full border-gray-400">
      </div>
      <div class="mb-4">
        <label for="returnDate" class="block text-gray-700 font-bold mb-2">Return Date:</label>
        <input type="date" name="returnDate" id="returnDate" class="form-input mt-1 block w-full border-gray-400">
      </div>
      <div class="text-center">
        <button type="submit"
          class="border border-green-700 bg-green-700 hover:border-green-600 hover:bg-green-600 text-white font-bold py-2 px-8 rounded-full transition-colors duration-300 ease-in-out">Issue
          Equipment</button>
      </div>
    </form>

    <!-- Course Enrollment-->
    <form id="courseEnrollmentForm" method="post" action="/submit"
      class="form-container shadow-md rounded px-8 pt-6 pb-8 mt-8 hidden">
      <div class="mb-4">
        <label for="Enrolled_Course_ID" class="block text-gray-700 font-bold mb-2">Course Code:</label>

        {% for course in courses %}
        <div>
          <input type="checkbox" id="Enrolled_Course_ID" name="Enrolled_Course_ID" value="{{ course }}">
          <label for="{{ course }}">{{ course[0] }}</label>
        </div>
        {% endfor %}
      </div>
      <div class="text-center">
        <button type="submit"
          class="border border-green-700 bg-green-700 hover:border-green-600 hover:bg-green-600 text-white font-bold py-2 px-8 rounded-full transition-colors duration-300 ease-in-out">Enroll
          Course</button>
      </div>
    </form>

  </div>

  {% elif role == 'professor' %}
  <div class="container mx-auto p-8">
    <div class="text-center mb-8">
      <h1 class="text-3xl">Select Action</h1>
    </div>

    <!-- Action Selection -->
    <div class="flex justify-around">
      <div class="ml-72">
        <button id="bookLabBtn2"
          class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-8 rounded-full transition-colors duration-300 ease-in-out">Book
          Lab</button>
      </div>
      <div class="mr-64">
        <button id="bookLabBtn3"
          class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-8 rounded-full transition-colors duration-300 ease-in-out">Create
          Course</button>
      </div>

    </div>

    <!-- Lab Booking Form -->
    <form id="labBookingForm2" method="post" action="/submit"
      class="form-container shadow-md rounded px-8 pt-6 pb-8 mt-8 hidden">
      <!-- <div class="mb-4">
        <label for="name" class="block text-gray-700 font-bold mb-2">Name:</label>
        <input type="text" name="name" id="name" class="form-input mt-1 block w-full border-gray-400">
      </div> -->
      <div class="mb-4">
        <label for="lab_name" class="block text-gray-700 font-bold mb-2">Lab:</label>
        <select name="lab_name" id="lab" class="form-select mt-1 block w-full border-gray-400">
          <option value="Biology Lab"> Biology Lab</option>
          <option value="Chemistry Lab">Chemistry Lab</option>
          <option value="Physics Lab ">Physics Lab</option>
          <option value="Computer Lab">Computer Lab</option>
          <option value="Engineering Lab">Engineering Lab</option>
          <option value="Psychology  Lab">Psychology Lab</option>
          <option value="Geology Lab">Geology Lab</option>
          <option value="Botany Lab">Botany Lab</option>
          <option value="Zoology Lab">Zoology Lab</option>
          <option value="Microbiology Lab">Microbiology Lab</option>
          <option value="Anatomy Lab">Anatomy Lab</option>
          <option value="Ecology Lab">Ecology Lab</option>
          <option value="Neuroscience Lab">Neuroscience Lab</option>
          <option value="Genetics Lab">Genetics Lab</option>
          <option value="Biochemistry Lab">Biochemistry Lab</option>
        </select>
      </div>
      <div class="mb-4">
        <label for="time_from" class="block text-gray-700 font-bold mb-2">Time From:</label>
        <input type="time" name="time_from" id="time_from" class="form-input mt-1 block w-full border-gray-400">
      </div>
      <div class="mb-4">
        <label for="time_to" class="block text-gray-700 font-bold mb-2">Time To:</label>
        <input type="time" name="time_to" id="time_to" class="form-input mt-1 block w-full border-gray-400">
      </div>
      <div class="mb-4">
        <label for="date" class="block text-gray-700 font-bold mb-2">Date:</label>
        <input type="date" name="date" id="date" class="form-input mt-1 block w-full border-gray-400">
      </div>
      <!-- ... -->
      <div class="text-center">
        <button type="submit"
          class="border border-green-700 bg-green-700 hover:border-green-600 hover:bg-green-600 text-white font-bold py-2 px-8 rounded-full transition-colors duration-300 ease-in-out">Book
          Lab</button>
      </div>
    </form>

    <!-- Course Creation Form -->
    <form id="createCourseForm" method="post" action="/submit"
      class="form-container shadow-md rounded px-8 pt-6 pb-8 mt-8 hidden">
      <div class="mb-4">
        <label for="Course_Name" class="block text-gray-700 font-bold mb-2">Course Name:</label>
        <input type="text" name="Course_Name" id="Course_Name" class="form-input mt-1 block w-full border-gray-400">
      </div>
      <div class="mb-4">
        <label for="Course_ID" class="block text-gray-700 font-bold mb-2">Course Code:</label>
        <input type="text" name="Course_ID" id="Course_ID" class="form-input mt-1 block w-full border-gray-400">
      </div>
      <div class="mb-4">
        <label for="Credits" class="block text-gray-700 font-bold mb-2">Credits:</label>
        <input type="number" name="Credits" id="Credits" class="form-input mt-1 block w-full border-gray-400">
      </div>
      <div class="text-center">
        <button type="submit"
          class="border border-green-700 bg-green-700 hover:border-green-600 hover:bg-green-600 text-white font-bold py-2 px-8 rounded-full transition-colors duration-300 ease-in-out">Create
          Course</button>
      </div>
    </form>
  </div>

  {% elif role == 'staff' %}
  <div class="container mx-auto p-8">
    <div class="text-center mb-8">
      <h1 class="text-3xl ">Select Action</h1>
    </div>

    <!-- Action Selection -->
    <div class="flex justify-center">
      <div class="">
        <button id="bookLabBtn4"
          class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-8 rounded-full transition-colors duration-300 ease-in-out">Fill
          Inventory</button>
      </div>
    </div>


    <!-- Equipment Issue Form -->
    <form id="fill_inventory" method="post" action="/submit"
      class="form-container shadow-md rounded px-8 pt-6 pb-8 mt-8 hidden">
      <div class="mb-4">
        <label for="ID" class="block text-gray-700 font-bold mb-2">Equipment ID:</label>
        <input type="text" name="ID" id="ID" class="form-input mt-1 block w-full border-gray-400">
      </div>
      <div class="mb-4">
        <label for="Equipment_Name" class="block text gray-700 font-bold mb-2">Equipment Name:</label>
        <input type="text" name="Equipment_Name" id="Equipment_Name"
          class="form-input mt-1 block w-full border-gray-400">
      </div>
      <div class="mb-4">
        <label for="Quantity" class="block text-gray-700 font-bold mb-2">Quantity:</label>
        <input type="number" name="Quantity" id="Quantity" class="form-input mt-1 block w-full border-gray-400">
      </div>
      <div class="mb-4">
        <label for="Price" class="block text-gray-700 font-bold mb-2">Price:</label>
        <input type="number" name="Price" id="Price" class="form-input mt-1 block w-full border-gray-400">
      </div>
      <div class="mb-4">
        <label for="Vendor_Address" class="block text-gray-700 font-bold mb-2">Vendor Address:</label>
        <input type="text" name="Vendor_Address" id="Vendor_Address"
          class="form-input mt-1 block w-full border-gray-400">
      </div>
      <div class="mb-4">
        <label for="Vendor_Phone_Number" class="block text-gray-700 font-bold mb-2">Vendor Phone Number:</label>
        <input type="number" name="Vendor_Phone_Number" id="Vendor_Phone_Number"
          class="form-input mt-1 block w-full border-gray-400">
      </div>
      <div class="mb-4">
        <label for="Manufacturer_Name" class="block text-gray-700 font-bold mb-2">Manufacturer Name:</label>
        <input type="text" name="Manufacturer_Name" id="Manufacturer_Name"
          class="form-input mt-1 block w-full border-gray-400">
      </div>
      <div class="mb-4">
        <label for="Status" class="block text-gray-700 font-bold mb-2">Status:</label>
        <input type="radio" name="Status" id="Status" value="Available" class="ml-4 mr-2">Available
        <input type="radio" name="Status" id="Status" value="Not Available" class="ml-4 mr-2"> Not Available
      </div>
      <div class="mb-4">
        <label for="Lab_Name" class="block text-gray-700 font-bold mb-2">Lab Name:</label>
        <input type="text" name="Lab_Name" id="Lab_Name" class="form-input mt-1 block w-full border-gray-400">
      </div>
      <div class="text-center">
        <button type="submit"
          class="border border-green-700 bg-green-700 hover:border-green-600 hover:bg-green-600 text-white font-bold py-2 px-8 rounded-full transition-colors duration-300 ease-in-out">Issue
          Equipment</button>
      </div>
    </form>
  </div>
  {% endif %}


  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const bookLabBtn = document.getElementById('bookLabBtn');
      const labBookingForm = document.getElementById('labBookingForm');
      const equipmentIssueForm = document.getElementById('equipmentIssueForm');
      const courseEnrollmentForm = document.getElementById('courseEnrollmentForm');
      const issueEquipmentBtn = document.getElementById('issueEquipmentBtn');
      const courseEnrollmentBtn = document.getElementById('courseEnrollmentBtn');

      bookLabBtn.addEventListener('click', function () {
        labBookingForm.classList.remove('hidden');
        equipmentIssueForm.classList.add('hidden');
        courseEnrollmentForm.classList.add('hidden');
      });

      issueEquipmentBtn.addEventListener('click', function () {
        equipmentIssueForm.classList.remove('hidden');
        labBookingForm.classList.add('hidden');
        courseEnrollmentForm.classList.add('hidden');
      });

      courseEnrollmentBtn.addEventListener('click', function () {
        courseEnrollmentForm.classList.remove('hidden');
        labBookingForm.classList.add('hidden');
        equipmentIssueForm.classList.add('hidden');
      });
    });
  </script>


  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const bookLabBtn2 = document.getElementById('bookLabBtn2');
      const labBookingForm2 = document.getElementById('labBookingForm2');
      const createCourseForm = document.getElementById('createCourseForm');
      const bookLabBtn3 = document.getElementById('bookLabBtn3');

      bookLabBtn2.addEventListener('click', function () {
        labBookingForm2.classList.remove('hidden');
        createCourseForm.classList.add('hidden');
      });

      bookLabBtn3.addEventListener('click', function () {
        createCourseForm.classList.remove('hidden');
        labBookingForm2.classList.add('hidden');
      });
    });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const fill_inventory = document.getElementById('fill_inventory');
      const bookLabBtn4 = document.getElementById('bookLabBtn4');

      bookLabBtn4.addEventListener('click', function () {
        fill_inventory.classList.remove('hidden');
      })
    });
  </script>

</body>

</html>